.icon-twitter{
    position: absolute;
    right: 200px;
    top: 10px;
    
    font-size: 28px;
   
}
.icon-hackhands{
    position: absolute;
    right: 160px;
    top: 20px;
    
    font-size: 28px;
   
}
.icon-opsgenie{
    position: absolute;
    right: 120px;
    top: 20px;
    
    font-size: 28px;
   
}
.icon-marketo{
    position: absolute;
    right: 70px;
    top: 10px;
    
    font-size: 28px;
   
}
.icon-wechat{
    position: absolute;
    right: 200px;
    top: 20px;
    
    font-size: 28px;
   
}
.icon-homeassistant{
    position: absolute;
    right: 120px;
    top: 10px;
    
    font-size: 28px;
   
}
.icon-zapier{
    position: absolute;
    right: 120px;
    top: 10px;
    
    font-size: 28px;
   
}
.icon-hipchat{
    position: absolute;
    right: 120px;
    top: 10px;
    
    font-size: 28px;
   
}
.icon-mail{
    position: absolute;
    right: 120px;
    top: 10px;
    
    font-size: 28px;
   
}
.icon-postwoman{
    position: absolute;
    right: 120px;
    top: 10px;
    
    font-size: 28px;
   
}
.icon-home{
    position: absolute;
    right: 120px;
    top: 10px;
    
    font-size: 28px;
   
}

.icon-myspace{
    position: absolute;
    right: 240px;
    top: 10px;
    
    font-size: 28px;
   
}
.icon-compass{
    position: absolute;
    right: 240px;
    top: 10px;
    
    font-size: 28px;
   
}
.icon-happy2{
    
    
    font-size: 28px;
   
}
.icon-grin2{
    
    
    font-size: 28px;
   
}
.icon-evil2{
    
    
    font-size: 28px;
   
}
.icon-sad2{
    
    
    font-size: 28px;
   
}
.icon-heart{
    
    
    font-size: 28px;
   
}
.icon-shocked2{
    
    
    font-size: 28px;
   
}
.icon-crying{
    
    
    font-size: 28px;
   
}